<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"D:\add\org\apache\ibatis\builder\xml\mybatis-3-config.dtd">
<configuration>

   <mappers>
   <mapper  resource="com/mapper/AllusersMapper.xml"/>
   <mapper  resource="com/mapper/YonghuzhuceMapper.xml"/>
   <mapper  resource="com/mapper/XinwentongzhiMapper.xml"/>
   <mapper  resource="com/mapper/PinglunMapper.xml"/>
   <mapper  resource="com/mapper/ShoucangjiluMapper.xml"/>
   <mapper  resource="com/mapper/LiuyanbanMapper.xml"/>
   <mapper  resource="com/mapper/YouqinglianjieMapper.xml"/>
   <mapper  resource="com/mapper/ShangpinxinxiMapper.xml"/>   <mapper  resource="com/mapper/XiadanxinxiMapper.xml"/>   <mapper  resource="com/mapper/PeisongxinxiMapper.xml"/>   <mapper  resource="com/mapper/WuliudingdanMapper.xml"/>   <mapper  resource="com/mapper/ShangjiaxinxiMapper.xml"/>   <mapper  resource="com/mapper/WaimaipeisongMapper.xml"/>   <mapper  resource="com/mapper/WuliuqudanMapper.xml"/>   
   
   </mappers>

</configuration>
